.site-header img.logo {
  float: left;
  width: 100px;
  margin-top: 0;
}
.site-header {
  padding-top: 1em;
  h1 {
    margin-left: 135px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    line-height: 1em;
      small {
        font-size: 0.5em;
        display: block;
      }
      a, a:visited {
        color: white;
      }
  }
}

@media (max-width: 580px) and (min-width: 468px) {
  .site-header h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 467px) {
  .site-header h1 {
    font-size: 1em;
  }
}

.pageAnchor {
  margin-bottom: 12em;
}
