			<div class="site-header wrap">
				<img class="logo" src="{{ site.baseurl }}/static/img/logo_white.svg"/>

							<h1>
								<a href="{{ site.github.url }}"><span>{{ page.organization-name }}</span></a>
								<small>An Officical Website of the U.S. Department of the Treasury</small>
							</h1>


            <!-- <a href="{{ page.organization-url }}" target="_blank">
						<img class="logo" src="{{ site.baseurl }}/static/img/logo.png" alt="{{ page.organization-name }} logo">
            </a> -->
						<!-- <a href="{{ page.organization-url }}" target="_blank">
						<img class="logo" src="{{ site.baseurl }}/static/img/logo.png" alt="{{ page.organization-name }} logo"> -->
  	</div>
