
<!-- <h1 class="page-title"><a href="{{ site.baseurl }}/index.html">{{ page.organization-name }} <br>API docs</a></h1> -->
<p class="intro">The U.S. Department of the Treasury (Treasury) is committed to creating openness and transparency in the federal government. </p>
<nav>
    <ul>
      <li><a href="{{ site.baseurl }}/index.html" class="overview">Overview</a></li>
<!--      <li><a href="{{ site.baseurl }}/explore.html" class="explore">API Documentation</a></li> -->
      <!--<li><a href="{{ site.baseurl }}/api-reference.html" class="api-reference">API Documentation RAML</a></li>-->
      <li><a href="{{ site.baseurl }}/api-standard.html" class="api-standard">API Standard</a></li>
      <li><a href="{{ site.baseurl }}/contribute.html" class="contribute">Community</a></li>
    </ul>
</nav>
